{{> header }}
<div class="article-head">
    <span>
        {{ article.title }}
    </span>
</div>
<section class="article-content">
    <span class="article-byline">
        {{ article.byline }}
    </span>
    <span class="article-data">
        <time datatime="{{ article.publishedData }}">
            {{ article.publishedData }}
        </time>
    </span>
    <div class="article-body">
        {{ #article.paragraphs }}
        <p>
            {{ . }}
        </p>
        {{ /article.paragraphs }}
    </div>
</section>

{{> footer}}