<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/94242ea6f7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-grid@^5.0.2,o-colors@^5.0.6,o-typography@^6.1.3,o-header@^8.0.2,o-forms@^8.1.13,o-buttons@^6.0.9"/>
    
</head>

<header class="o-header o-header--simple" data-o-component="o-header">
	<div class="o-header__row o-header__top">
		<div class="o-header__container">
			<div class="o-header__top-wrapper">
				<div class="o-header__top-column o-header__top-column--left">
					<div class="search">
                        <div class="search-icon-container">
                            <a class="btn-search-bar" id="search-toggle-id">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>
				</div>

				<div class="o-header__top-column o-header__top-column--center">
					<!--<div class="o-header__top-takeover"></div>-->
					<a class="o-header__top-logo" href="/" title="Go to Financial Times homepage">
						<span class="o-header__visually-hidden">Financial Times</span>
					</a>
				</div>

				<div class="o-header__top-column o-header__top-column--right">
					<!--<div class="o-header__top-takeover"></div>-->
					<a class="o-header__top-link o-header__top-link--myft" href="/myft" aria-label="My F T">
						<span class="o-header__visually-hidden">myFT</span>
					</a>
				</div>
			</div>
		</div>
	</div>

    <div class="header-search-section">
        {{ >search.view }}
    </div>
    

</header>

<body>