{{> header }}
<div class="search-list-container">
    <span class="title-search-page">
        Search Results
    </span>
    <div class="search-form-container results">
        {{ >search.view }}
    </div>
    <div class="search-list-container">
        <div class="o-teaser-collection ">
            <h2 class="o-teaser-collection__heading">
                Viewing results {{ offsetPage.min }}-{{ offsetPage.max }} of {{ totalArticles }}
            </h2>        
        </div>
    </div>
    {{#results}}
    <div class="article-teaser o-teaser o-teaser--small">
        <div class="o-teaser__content">
            <div class="o-teaser__meta">
                <a href="content/{{id}}" class="link-article">
                    <h2 class="article-title o-teaser__heading">
                        {{ title.title }}
                    </h2>
                </a>
            </div>
            <a href="content/{{id}}" class="link-article">
                <p class="article-resume">
                    <p class="o-teaser__standfirst">
                        {{ summary.excerpt }}
                    </p>
                </p>
            </a>
            <span class="article-data">
                <time datatime="{{ article.publishedData }}">
                    {{ date }}
                </time>
            </span>
        </div>
    </div>  
    {{/results}}
    </div>

    <div class="pagination-container">
        {{#statusPage.isFirstPage}}
        {{/statusPage.isFirstPage}}
        {{^statusPage.isFirstPage}}
        <a href="?q={{queryKeyWord}}&page={{statusPage.previous}}" class="btn previous-page o-buttons o-buttons--secondary o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only">
            <span class="o-buttons-icon__label">Go forward</span>
        </a>
        {{/statusPage.isFirstPage}}

        <span class="pagination-number">
            Page {{ statusPage.current }} of {{ pagesNumber }}
        </span>
        {{#statusPage.isLastPage}}
        {{/statusPage.isLastPage}}
        {{^statusPage.isLastPage}}
        <a href="?q={{queryKeyWord}}&page={{statusPage.next}}" class="btn next-page o-buttons o-buttons--secondary o-buttons-icon o-buttons-icon--arrow-right o-buttons-icon--icon-only">
            <span class="o-buttons-icon__label">Go forward</span>
        </a>
        {{/statusPage.isLastPage}}
    </div>

</div>

{{> footer }}