<form role="search" class="search-form-container">
    <label class="o-forms-field o-forms-field--optional">
		<span class="o-forms-input o-forms-input--text o-forms-input--suffix">
            <input type="text" id="search-input-id" value="{{ queryKeyWord }}" class="search-input"
            placeholder="Search the FT">
                <button type="button" id="search-btn-id" class="search-btn o-buttons o-buttons--primary o-buttons--big o-buttons-icon o-buttons-icon--search o-buttons-icon--icon-only">
                    <span class="o-buttons-icon__label">Search</span>
                </button>
		</span>
	
	</label>
</form>