html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: rgb(255, 241, 229);
    font-family: FinancierDisplayWeb, serif;
    color: rgb(51, 48, 46);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 200px;
}

footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.link-article {
    text-decoration: none;
}

.article-title {
    color: black;
}

.article-resume {
    color: rgb(102, 102, 102);
}

.link-article:hover {
    text-decoration: none;
}

.btn {
    background-color: rgb(13, 118, 128);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.header-search-section {
    display: none;
}

.brand-logo-img {
    width: 50px;
    height: auto;
}

.article-content-container {
    padding: 40px 5%;
}

.article-info {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: MetricWeb,sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.article-body {
    border-top: solid rgb(204, 193, 183) 1px;
    padding-top: 20px;
}

.btn-search-bar {
    cursor: pointer;
} 

.title-search-page {
    font-family: FinancierDisplayWeb,serif;
    font-size: 40px;
    line-height: 40px;
}

.search-list-container {
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.pagination-container {
    font-family: MetricWeb,sans-serif;
    font-size: 17px;
    line-height: 16px;
    text-align: center;
}

.pagination-number {
    margin: 0 10px;
}

.o-icons-icon--search {
    width: 50px;
}

@media screen and (min-width: 768px) {
    .search-list-container {
        padding-left: 5%;
        padding-right: 30%;
    }

    .header-search-section {
        padding-left: 30%;
        padding-right: 30%;
    }

    .article-content-container {
        padding-left: 10%;
        padding-right: 30%;
    }
}