body {
    background-color: rgb(255, 241, 229);
}

.header-container {
    height: 100px;
    background-color: rgb(255, 241, 229);
}

.article-head {
    background-color: rgb(250, 234, 220);
}

.search-form-container {
    background-color: brown;
}

.link-article {
    text-decoration: none;
}

.article-title {
    color: black;
}

.article-resume {
    color: rgb(102, 102, 102);
}

.link-article:hover {
    text-decoration: none;
}

.btn {
    background-color: rgb(13, 118, 128);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.hidden {
    display: none;
}

.display {
    display: block;
}