body {
    background-color: rgb(255, 241, 229);
    font-family: FinancierDisplayWeb, serif;
    color: rgb(51, 48, 46);
}

.header-container {
    height: 100px;
    background-color: rgb(255, 241, 229);
}

.link-article {
    text-decoration: none;
}

.article-title {
    color: black;
}

.article-resume {
    color: rgb(102, 102, 102);
}

.link-article:hover {
    text-decoration: none;
}

.btn {
    background-color: rgb(13, 118, 128);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.header-search-section {
    display: none;
}

.brand-logo-img {
    width: 50px;
    height: auto;
}

.article-content-container {
    padding-top: 40px;
}

.article-info {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: MetricWeb,sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.article-body {
    border-top: solid rgb(204, 193, 183) 1px;
    padding-top: 20px;
}